header {
	background-color: #ffccff; text-transform: uppercase;
}

h1 {
	color: #ffffcc; text-align: center;
}

h2 {
	color: #ffffcc;
}
section {
	background-color: #99ff99;
}

a {
	background-color: #ffffcc;
	color: #ff99ff;
	text-align: center;
	}